@tailwind base;
@tailwind components;
@tailwind utilities;

.popup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: #cc1a1a;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }