version: "3.9"

services:
  server:
    build: ./server
    container_name: carbecho-server
    ports:
      - "4000:4000"
    env_file:
      - ./server/.env   
    networks:
      - fullstack-net  
    restart: unless-stopped  

  client: 
    build: ./client
    container_name: carbecho-client
    ports:
      - "5174:3000" 
    networks:
      - fullstack-net 
    depends_on:
      - server   
    restart: unless-stopped    


networks:
  fullstack-net:
    driver: bridge